[requires]
python_version = '3.9'

[packages]
google-api-python-client = '*'
google-auth-oauthlib = '*'
gspread = "*"
click = "*"
boto3 = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
python-dotenv = "*"
