[requires]
python_version = '3.14'

[packages]
boto3 = "*"
matplotlib = "*"
numpy = "*"
telethon = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
python-dotenv = "*"
aws-sam-cli = "*"
